body {
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #000000;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px 0;
    text-align: center;
}

.opening {
    background-image: url("./public/background.png");
    background-repeat: no-repeat;
    background-size: 90% auto;
    background-position: center;
    height: 90vh;
}

.title {
    display:flex;
    flex-direction:column;
    align-items:center;
    margin: 20px 0;
    font-size: 40px;
}

.title p {
    margin: 4px 0;
}

img {
    width: 100%;
    height: fit-content;
    margin: 0 100px;
    padding: 4px;
    border: 4px #000000 dashed;
}

video {
    width: 90%;
    height: fit-content;
}
